nav {
  background-color: rgb(64, 123, 172);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 0px;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: cornflowerblue;
  z-index: 2;
  text-align: center;
  left: 0;
  top: 100%;
}
#dropdown li {
  padding: 5px 2px;
}

li {
  list-style: none;
}
body {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#beta {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#date {
  color: rgb(41, 99, 99);
}
#time {
  color: rgb(41, 99, 99);
}
ul li {
  list-style-type: none;
  float: left;
}

ul li a i {
  background: #205d7a;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}
ul li a i {
  transition: all 0.2s ease-in-out;
}
ul li a i:hover {
  opacity: 0.7;
}

.gamma {
  border: 1px solid black;
  padding: 20px;
  margin: 2px;
}
